html, body, #mapDiv {

    	padding: 0;
    	margin: 0px;
    	height: 100%;
      width: 100%;
 }

#btnMad {
	position:absolute;
	right:240px;
	top:10px;
	z-Index:999;
}
	


#btnBcn {
	position:absolute;
	right:130px;
	top:10px;
	z-Index:999;
}

#btnRiv {
position:absolute;
	right:60px;
	top:10px;
	z-Index:999;
}



